.logo {
  background-image: asset-url("https://fr.freepik.com/photos-vecteurs-libre/pop-corn");
  background-size: cover;
  height: 62px;
  width: 200px;
}
// src="" alt="Logo" width="300" height="24" class="d-inline-block align-text-top">
